*.o
*.so
*.lib
*.img
*.psf
*.log
font_data.c
chkstk.o
BOOTX64.EFI
BOOTX64.lib
efi.img
iso/
gnu-efi/
src/micropython_embed/py/*.o
src/micropython_embed/port/*.o
src/micropython_embed/shared/**/*.o
src/micropython_embed/extmod/*.o
src/lib/*.o
src/kernel/*.o
boot/*.o
